main {
    display: grid;
    grid-template-columns: 14vw 42vw 14vw;
    margin-left: 15vw;
    margin-right: 15vw;

    margin-top: calc(8rem + 10px);
    transition: all 0.75s;
}

main .text-holder {
    gap: 20px;
    transition: all 1s;
}

main.after .text-holder {
    gap: 16px;
}

h2 {
    color: #e3e3e3;
    font-weight: 500;
    margin: 0;
}

h3 {
    color: #999;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
    font-size: 1rem;
}

.display-img {
    max-width: calc(42vw - 8rem);
    max-height: calc(24vw);
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 10px;
}

.text-holder {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.text-holder p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-holder h3 {
    margin-top: 32px;
    margin-bottom: 12px;
}

.header-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-holder p {
    margin: 0 0 1rem;
    color: #999;
}

.back-link-holder {
    position: fixed;
    top: 8rem;
    left: 15vw;
    z-index: 10;
}

.back-link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
}

.back-link p {
    margin: 0;
    color: #999999;

    transition: all 0.3s;
}

.back-link:hover p {
    color: #e3e3e3;
}

.back-icon {
    height: 20px;
    width: 20px;
    transform: translateY(3px);
}

.tall-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    border: 2px #2c2c2c solid;
    border-radius: 10px;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 1300px) {
    main {
        grid-template-columns: 15vw 60vw 15vw;

        margin-left: 5vw;
        margin-right: 5vw;
    }

    .back-link-holder {
        left: 5vw;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    body {
        margin-top: 3rem;
        margin-left: 7vw;
        margin-right: 7vw;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 4rem;
        margin-left: 0;
        margin-right: 0;
    }

    .empty-div { display: none }

    .back-link-holder {
        position: static;
    }

    .header-holder {
        flex-direction: column;
    }

    .display-img {
        max-width: calc(60vw - 8rem);
        max-height: calc(24vh);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}