main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;
}

h2 {
    color: white;
}

.text-holder {
    margin-top: 5rem;
}

.back-text {
    color: #999999;
    transition: all 0.5s;

}

.back-text:hover {color: white;}