main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;
}

h2 {color: white;}

.dramatic {margin-top: 3rem;}

.text-holder {margin-top: 5rem;}

.back-link p {
    color: #999999;
    transition: all 0.5s;
}

.back-link:hover p {color: white;}