main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4rem;
    transition: all 0.75s;
}

main .text-holder p {
    margin-top: 25px;
    margin-bottom: 25px;

    transition: all 1s;
}

main.after .text-holder p {
    margin-top: 20px;
    margin-bottom: 20px;
}


h2 {color: #e3e3e3;}

strong {color: #e3e3e3;}

ul, ol {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #e3e3e3;
}

code {
    background-color: #1e1e1e;
    border-radius: 3px;
    padding: 5px;
    margin: 0;
}

.dramatic {margin-top: 3rem;}

.text-holder {margin-top: 5rem;}

.back-link p {
    color: #999999;
    transition: all 0.5s;
}

.back-link:hover p {color: white;}